div.container_start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
div.container_end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
div.container_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.container_space_around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.container_space_between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.container_space_evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}